
.title{
	text-align: center;
	margin-top: 30px;
}

h1{
	text-align: center;
	margin-top: 40px;
}

/*202104 Tachimoma新增*/
.subtitle,
.subtitle:visited{
	display:block;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-radius: 30px;
	background: #df0615;
	width:fit-content;
	margin: 50px auto 0 auto;
	padding: 3px 60px;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.8em;
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 0 0 5px rgb(126, 126, 126);
	box-shadow: 3px 4px 0 #ab000c
}
.subtitle::before{
	content: "";
	width: 0%;
	height: 100%;
	background:#ab000c;
	top: 0;
	left:0;
	position: absolute;
	z-index: -1;
	-webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
}
.subtitle:hover::before{
	width: 100%
}

@keyframes fingeremove {
    0%   { 
		width: 40px;
		height: 40px;
	 }
    50%  { 
		width: 50px;
		height: 50px; }
    100% { 
		width: 40px;
		height: 40px;
	 }
}
@-webkit-keyframes fingeremove {
    0%   { 
		width: 40px;
		height: 40px;
	 }
    50%  { 
		width: 50px;
		height: 50px; }
    100% { 
		width: 40px;
		height: 40px;
	 }
}
.finger{
	display:block;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 99;
	width: 32px;
	height: 32px;
	background: url(../images/series/icon_finger.svg)no-repeat;
	transform: rotate(-35deg); 
	animation-name: fingeremove;
	animation-duration: 2000ms;animation-iteration-count: infinite;
}		


section{
	background: #fff;
}

.series{
	padding-top: 30px;
	padding-bottom: 30px;
}
.series-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	margin: 45px auto 0 auto;
}
.series-list > div{
	width: 395px;
	height: 650px;
	background: #f3f3f3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
}

.series-list > div p{
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	font-weight: 500;
	margin-top: 45px;
	margin-bottom: 14px;
}

.series-pro{
	height: 351px;
	display: flex;
	justify-content: center;
	align-items: flex-end;

}
.series-name{
	margin-top: 15px;
	text-align: center;
}

.btns {
	margin-top: 20px;
	text-align: center;
}
.btns > a{
	display: inline-block;
	line-height: 35px;
	border-radius: 18px;
	padding: 0 1em;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	letter-spacing: .15em;
}
.btns > a::before{
	content: "";
	width: 0%;
	height: 100%;
	top: 0;
	left:0;
	position: absolute;
	z-index: -1;
	-webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
}
.btns > a:hover:before{
	width: 100%;
}
.btns > a:nth-child(1){background: #fff;border:1px solid #555555;color: #555555;}
.btns > a:nth-child(2){background: #df0615;color: #fff;}

.btns > a:nth-child(1):before{background:#dfdfdf;}
.btns > a:nth-child(2):before{background:#ab000c;}


.select{

}

.select .content{
	max-width: 1280px;
	margin: 0 auto;
	/*background: #df0615;*/
/*	padding: 40px;*/
	border:40px solid #df0615;
	margin-top: 120px;
	position: relative;
}
.second5{
	position: absolute;
	top: -120px;
	z-index: 1;
	width: 480px;
	left:calc(50% - 240px);
}
.select .content > .container{
	width: calc(82%);
	height: calc(100%);
	margin: 0 auto;
	background: #fff;
	padding-top: 108px;
	position: relative;
}

.container .step{
	border-top: 1px solid #df0615;
	border-bottom: 3px solid #df0615;
	text-align: center;
	font-size: 25px;
	line-height: 2em;
	color: #333333;
	font-weight: bold;
	margin-bottom: 50px;
	position: relative;
}

.container .step > div {
	position: absolute;
	left:0;
	font-size: 36px;
	background: #df0615;
	color: #fff;
	top: 0px;
	height: 100%;
	padding:0 .25em;
}

.container .step > div > span{
	font-size: 18px;
}

.step1-list{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.step1-list > div{
	margin:0 18px;
}
.step1-list .svg{
	height: 245px;
	margin-bottom: 40px;
}

.svg svg{
	height: 100%;
}
.step1-list > div.current .svg *{
	-webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.step1-list > div.current .svg [class^=cls]{
	stroke: #df0615;
}
.step1-list > div.current .svg .cls-1,.step1-list > div.current .svg .cls2-1,.step1-list > div.current .svg .cls3-3,.step1-list > div.current .svg ellipse,.step2-list > div.current .svg [class^=cls]{
	fill: #df0615;
}
.step1-list > div.current .svg path:not([class^=cls]){
	fill: #df0615;
}
.step1-list > div.current .select-btn,.step2-list > div.current .select-btn{
	color: #fff;
	border:2px solid #df0615;
}
.step1-list > div.current .select-btn::before,.step2-list > div.current .select-btn::before{
	background: #df0615;
	width: 100%;
}
.select-btn{
	line-height: 32px;
	text-align: center;
	border:2px solid #000;
	border-radius: 18px;
	margin: 0 1.5em;
	cursor: pointer;
	position: relative;
	z-index: 0;
	overflow: hidden;
	-webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.select-btn::before{
	content: "";
	width: 0%;
	height: 100%;
	top: 0;
	left:0;
	position: absolute;
	z-index: -1;
	-webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    background:#dfdfdf;
}
.select-btn:hover:before{
	width: 100%;
}
.nohover .select-btn:hover:before{
	width: 0;
}

.nohover .select-btn.current:before{
	width: 100%;
}
.step2-list{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.step2-list > div{
	margin:0 18px;
	width: 111px;
}


.step2-list .select-btn{
	margin: 0;
	padding: 0 .5em;
}

.step2-list .svg{
	height: 90px;
	width: auto;
	margin-bottom: 1em;
}
.result{
	padding-bottom: 40px;
}

.result > div{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.result-pro{
	width: 45.59%;
	text-align: center;
}

.result-proinfo{
	width: calc(100% - 45.59%);
	margin-top: 10px;
}

.result-proinfo h3{
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;

}
.result-proinfo p{
	line-height: 30px;
	margin-bottom: 10px;
}
.result-proinfo b{
	font-weight: bold;
}
.result-proname{margin: 25px 0 30px 0;}


.link-btn{
	display: inline-block;
	color: #fff;
	background: #df0615;
	line-height: 48px;
	padding: 0 1em;
	position: relative;
	z-index: 0;
}
.link-btn::after{
	content: "";
	width: 24px;
	height: 7px;
	position: relative;
	display: inline-block;
	background: url(../images/series/link_arrow.png);
	transform: translateY(-4px);
	margin-left: .5em;
}

.link-btn::before{
	content: "";
	width: 0%;
	height: 100%;
	top: 0;
	left:0;
	position: absolute;
	z-index: -1;
	-webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    background:#ab000c;
}
.link-btn:hover:before{
	width: 100%;
}


@media screen and (max-width:1300px){
	.series .title{
		margin-top: 30px;
		max-width: 65%;
		margin: 0 auto;
	}
	.series .title img{
		max-width: 100%;
	}
	.series-list{
		width: 95%;
	}
	.series-list > div{
		width: 32%;
	}
}
@media screen and (max-width:1200px){
	.step2-list > div{
		width: 100px;
		margin: 0 12px;
	}

}

@media screen and (max-width:800px){
	.series .title{
		max-width: initial;
	}
	.series-list{
		width: calc(100% - 110px);
		flex-direction: column;
	}
	.series-list > div{
		width: 100%;
		height: 310px;
		margin-bottom: 30px;
		flex-direction: row;
		justify-content: flex-start;
	}
	.series-pro{
		height: 258px;
		margin: 0 auto;
	}
	

	.series-list > div > div:nth-of-type(1){
		width: 50%;
	}
	.series-list > div > div:nth-of-type(2){
		width: 60%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-left: -10%;
	}
	.btns > a{
		display: block;
		margin: 0 0 15px 0;
		width: 220px;
	}
	.series-list > div p{
		font-size: 22px;
		line-height: 32px;
		margin-top: 20px;
		margin-bottom: 0;
	}

	.select .content{
		margin-top: 80px;
	}
	.select .content > .container{
		width: calc(100%);
		padding-top: 72px;
	}
	.second5{
		width: 304px;
		left: calc(50% - 152px);
		top: -85px;
	}
	.second5 img{
		width: 100%;
	}
	.container .step{
		font-size: 22px;
		text-align: left;
		padding-left: 100px;
		margin-right: 36px;
		margin-left: 36px;
	}
	.container .step > span{
		position: absolute;
		right: 0;
		bottom: -2em;
	}
	.step1-list > div{
		margin:10px;
	}
	.step1-list .svg{
		height: 148px;
	}
	.select-btn{
		padding: 0 1em;
		margin: 0;
		line-height: 40px;
		border-radius: 20px;
	}
	.step2-list{
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.step2-list > div{
		margin-bottom: 30px;
		width: auto;
	}

	.container .step-result{
		padding-left: 0;
		text-align: center;
	}
	.result > div{
		flex-direction: column;
	}
	.result-pro{width: 100%;display: flex;justify-content: center;align-items: center;}
	.result-pro > div{
		text-align: left;
	}
	.result-pro > div h3 {
	    font-size: 22px;
	    line-height: 32px;
	    font-weight: bold;
	}
	.result-pro > div p {
		font-size: 22px;
	    line-height: 32px;
	    margin-bottom: 10px;
	}
	.result-proname{margin: 0px 0 0 0;}
	.result-proinfo{width: 100%;padding: 0 40px;padding-bottom: 40px;display: flex;flex-direction: column;}
	.result-proinfo p{
		font-size: 22px;
	}

	.link-btn{
		/*width: 277px;
		display: block;*/
		margin: 0 auto;
		text-align: center;
		margin-top: 2em;
	}
}

@media screen and (max-width:600px){
.subtitle,
.subtitle:visited{
	width:fit-content;
	padding: 3px 50px;
	font-size: 1.5em;
	line-height: 1.8em;
	}
}