<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="">
    <!-- OG -->
    <link rel="icon" href="https://alinamin.com.tw/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://alinamin.com.tw/images/favicon.ico" type="image/x-icon" />
    <meta property="og:site_name" content="合利他命">
    <meta content='Alinamin' name='author'>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://alinamin.com.tw/images/share.jpg">
    <!-- css start-->
    <link rel="stylesheet" href="https://alinamin.com.tw/css/aos.css">
    <link rel="stylesheet" href="https://alinamin.com.tw/css/global.css?t=0201">
    <link rel="stylesheet" href="https://alinamin.com.tw/css/animation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-187222482-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-187222482-1');
    </script>
    <script>
        var pageName = 'store';
    </script>
    <script type="application/javascript">
        (function (w, d, t, r, u) {
            w[u] = w[u] || [];
            w[u].push({
                'projectId': '10000',
                'properties': {
                    'pixelId': '10110436'
                }
            });
            var s = d.createElement(t);
            s.src = r;
            s.async = true;
            s.onload = s.onreadystatechange = function () {
                var y, rs = this.readyState,
                    c = w[u];
                if (rs && rs != "complete" && rs != "loaded") {
                    return
                }
                try {
                    y = YAHOO.ywa.I13N.fireBeacon;
                    w[u] = [];
                    w[u].push = function (p) {
                        y([p])
                    };
                    y(c)
                } catch (e) {}
            };
            var scr = d.getElementsByTagName(t)[0],
                par = scr.parentNode;
            par.insertBefore(s, scr)
        })(window, document, "script", "https://s.yimg.com/wi/ytc.js", "dotq");
    </script>
    <title>全系列產品</title>
    <meta name="title" content="全系列產品" />
    <meta name="description" content="認明官方授權通路，搜尋最接近您的銷售據點，商品來源與品質皆有保障" />
    <meta name="keywords" content="台灣武田，合利他命，醫療級B群，A25，強效錠，金強效錠，Alinamin，疲勞無力，眼睛疲勞，肩頸僵硬，腰背酸痛，手腳發麻，嚴重酸痛，神經痛，日本市佔第一" />
    <meta property="og:title" content="合利他命-醫療級維他命B群專家">
    <meta property="og:description" content="認明官方授權通路，搜尋最接近您的銷售據點，商品來源與品質皆有保障">
    <meta property="og:url" content="https://alinamin.com.tw/buy/#pcs">
    <link rel="stylesheet" href="https://alinamin.com.tw/css/index.css">
    <link rel="stylesheet" href="https://alinamin.com.tw/css/store.css">
    <link href="https://alinamin.com.tw/css/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://alinamin.com.tw/scripts/store.js"></script>
    <script src='https://alinamin.com.tw/scripts/swiper.min.js'></script>
</head>

<body>
    <div id="app" class="wrap">
        
        <!-- Lightning Bolt Begins -->
        <script type="text/javascript" id="lightning_bolt" src="//cdn-akamai.mookie1.com/LB/LightningBolt.js"></script>
        <!-- Lightning Bolt Ends -->

        <header>
            <div class="content flex-b-c">
                <a href="index.html" class="logo" g-event="Nav_takeda台灣武田Logo"></a>
                <nav>
                    <a href="blogs.html">生活中的維生素B1缺乏</a>
                    <a href="cause.html" g-event="Nav_疲酸麻的原因">你的疲。酸。麻原因</a>
                    <a href="fursultiamine.html" g-event="Nav_醫療級B1 TTFD">合利他命醫療級B群</a>
                    <a href="lineup.html" g-event="Nav_全產品列表">全產品列表</a>
                    <div class="nav-more" g-event="Nav_了解更多">了解更多
                        <i class="nav-arrow"></i>
                        <div class="dropdown">
                            <a href="exgold.html" g-event="Nav_了解更多_EXGOLD金強效錠">EX GOLD 金強效錠</a>
                            <a href="explus.html" g-event="Nav_了解更多_EXPLUS強效錠">EX PLUS 強效錠</a>
                            <a href="a25.html" g-event="Nav_了解更多_愛A25">愛A25</a>
                            <a href="buy.html" g-event="Nav_了解更多_購買通路">購買通路</a>
                            <a href="qa.html" g-event="Nav_了解更多_常見問題Q&A">常見問題Q&A</a>
                            <a href="history.html" g-event="Nav_了解更多_武田歷史">武田歷史</a>
                        </div>
                    </div>

                    <a href="index.html" class="nav-home" g-event="Nav_HOME">回首頁</a>
                </nav>

                <div class="nav-btn">
                    <span></span><span></span><span></span>
                </div>
            </div>
        </header>

        <div class="menu-list mb">
            <a href="cause.html" g-event="Nav_疲酸麻的原因">你的疲。酸。麻原因</a>
            <a href="fursultiamine.html" g-event="Nav_醫療級B1 TTFD">合利他命醫療級B群</a>
            <a href="lineup.html" g-event="Nav_全產品列表">全產品列表</a>
        </div>

        <div class="menu-wrap">
            <div class="menuBox">
                <a href="blogs.html">生活中的維生素B1缺乏</a>
                <a href="cause.html" g-event="Nav_疲酸麻的原因">你的疲。酸。麻原因</a>
                <a href="fursultiamine.html" g-event="Nav_Nav_醫療級B1 TTFD">合利他命醫療級B群</a>
                <a href="lineup.html" g-event="Nav_全產品列表">全產品列表</a>
                <a href="index.html" class="menu-home" g-event="Nav_HOME">回首頁</a>
            </div>

            <div class="menuBox light">
                <a href="exgold.html" g-event="Nav_了解更多_EXGOLD金強效錠">EX GOLD 金強效錠</a>
                <a href="explus.html" g-event="Nav_了解更多_EXPLUS強效錠">EX PLUS 強效錠</a>
                <a href="a25.html" g-event="Nav_了解更多_愛A25">愛A25</a>
                <a href="buy.html" g-event="Nav_了解更多_購買通路">購買通路</a>
                <a href="qa.html" g-event="Nav_了解更多_常見問題Q&A">常見問題Q&A</a>
                <a href="history.html" g-event="Nav_了解更多_武田歷史">武田歷史</a>
            </div>

        </div>

        <div class="header-h"></div>

        <div class="portrait" style="display: none;">
            <div><img src="https://alinamin.com.tw/images/phone.png"></div>
        </div>

        <div class="landscape" style="display: none;">
            <div><img src="https://alinamin.com.tw/images/phone2.png"></div>
        </div>

        <div class="top-btn"></div>
        <section class="storePage pageWarp">
            <div class="containerBox">
                <h1>Store</h1>
                <h4>哪裡買</h4>

                <div class="searchOption">
                    <div class="menus">
                        <p v-if="search.select == 'close'" :class="search.option=='產品品項'?'noSelect':''"
                            @click.prevent="changeSelect()">{{search.option}}</p>
                        <ul v-if="search.select == 'open'" @click.prevent="changeSelect()">
                            <li v-for="item in options" :class="search.option==item?'choose':''"
                                @click.prevent="setOption(item)">{{item}}</li>
                        </ul>
                    </div>
                    <button class="btn" :class="search.select" @click.prevent="changeSelect('auto')"><i
                            class="fas fa-caret-down"></i></button>
                </div>

                <div class="btns">
                    <button class="btn" :class="kind=='pcs'?'btnActive':''" @click.prevent="changeKind('pcs').html"
                        g-event="購買通路_連鎖通路">連鎖通路</button>
                    <button class="btn" :class="kind=='drugstore'?'btnActive':''"
                        @click.prevent="changeKind('drugstore').html" g-event="購買通路_藥局店家">藥局店家</button>
                </div>

                <div v-show="kind=='pcs'" class="storeBox">
                    <div class="swiperBox">
                        <div class="swiperStore">
                            <div class="swiper-wrapper">
                                <a href="https://www.watsons.com.tw/store-finder" target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/1.png">
                                    <p>Watsons</p>
                                </a>
                                <a href="https://www.cosmed.com.tw/shop.aspx" target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/2.png">
                                    <p>Cosmed</p>
                                </a>
                                <a href="http://www.tomods.com.tw/stores" target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/3.png">
                                    <p>Tomods</p>
                                </a>
                                <a href="http://www.yeschain.com.tw/stores.php" target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/4.png">
                                    <p>躍獅藥局</p>
                                </a>
                                <a href="https://www.greattree.com.tw/stores" target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/5.png">
                                    <p>大樹藥局</p>
                                </a>
                                <a href="http://www.yourchance.com.tw/index.php?temp=store&lang=cht" target="_blank"
                                    class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/6.png">
                                    <p>佑全健康人生</p>
                                </a>
                                <a href="https://www.norbelbaby.com.tw/TinTin/work.jsp" target="_blank"
                                    class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/7.png">
                                    <p>丁丁藥妝</p>
                                </a>
                                <a href="https://event.medfirst.com.tw/StoreMap/Storelist.aspx?gclid=CjwKCAiA_9r_BRBZEiwAHZ_v1-9gGqZnrM5HQx0QXXel2dXdURFARx7YZ3X0JK16DWtKVDAfPnEmJRoClWgQAvD_BwE"
                                    target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/8.png">
                                    <p>杏一藥局</p>
                                </a>
                                <a href="http://www.sintong.com/tw_profile.php?Kid=103&Aid=103001&PHPSESSID=9609107199ff1341c00bb29c8560fc12"
                                    target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/10.png">
                                    <p>信東藥妝</p>
                                </a>
                                <a href="https://www.woodpecker.com.tw/info/location" target="_blank"
                                    class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/9.png">
                                    <p>啄木鳥藥局</p>
                                </a>
                                <a href="http://www.wellcare.com.tw/wellindex/03map.htm" target="_blank"
                                    class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/11.png">
                                    <p>維康藥局</p>
                                </a>
                                <a href="https://www.fe-amart.com.tw/index.php/store" target="_blank"
                                    class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/12.png">
                                    <p>愛買</p>
                                </a>
                                <a href="https://www.jpmed.com.tw/zh-TW/store" target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/13.png">
                                    <p>日藥本舖</p>
                                </a>
                                <a href="http://www.mecome.com.tw/front/bin/ptlist.phtml?Category=357323"
                                    target="_blank" class="swiper-slide">
                                    <img src="https://alinamin.com.tw/images/store/14.png">
                                    <p>美康</p>
                                </a>

                            </div>

                        </div>

                        <!-- Add Arrows -->
                        <div class="btnSwiper nexStore"><i class="fas fa-chevron-right"></i></div>
                        <div class="btnSwiper prevStore"><i class="fas fa-chevron-left"></i></div>
                    </div>
                </div>
                <div v-show="kind=='drugstore'" class="storeBox">
                    <div class="seletes">
                        <select @change="getDistricts()" v-model="search.city">
                            <option value="">請選擇縣市</option>
                            <option v-for="item in citys" :value="item">{{item}}</option>
                        </select>
                        <select @change="getView()" v-model="search.district">
                            <option value="">請選擇區域</option>
                            <option v-for="item in districts" :value="item">{{item}}</option>
                        </select>
                    </div>


                    <div class="swiperBox">
                        <div class="swiperPycial">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="item,key in stores" :key="key">
                                    <h2>{{item.veeva}}</h2>
                                    <div class="addr">{{item.address}}</div>
                                    <a :href="'tel:'+item.tel" type="tel">{{item.tel}}</a>
                                </div>
                            </div>

                        </div>

                        <!-- Add Arrows -->
                        <div class="btnSwiper nexPycial"><i class="fas fa-chevron-right"></i></div>
                        <div class="btnSwiper prevPycial"><i class="fas fa-chevron-left"></i></div>
                    </div>


                </div>
                <ol class="tip t-a-r m-t30 m-r40">C-APROM/TW/THI/0030 DEC 2020</ol>
            </div>

        </section>

        <footer>
            <div class="content">
                <div class="logo"></div>
                <div class="flex-b-s m-t18">
                    <div>
                        <p>本網站係台灣武田藥品工業股份有限公司所擁有，其內容之著作權亦屬於台灣武田藥品工業股份有限公司，非經同意不得轉載。</p>
                        <p>Copyright©Takeda Pharmaceutical Taiwan Ltd. <br class="mb">2020台灣武田藥品工業股份有限公司版權所有</p>
                    </div>
                    <div class="mm-b15">
                        <div class="txtBox m-r20">
                            <span class="c-red">TEL</span> <span>0800-008999</span>
                        </div>
                        <div class="txtBox">
                            <span class="c-red">ADDRESS</span> <span>110 台北市信義區松高路1號17F</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>
<script src="https://alinamin.com.tw/scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://alinamin.com.tw/scripts/global.js?t=0201"></script>
<script type="text/javascript" src="https://alinamin.com.tw/scripts/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            kind: (location.hash.indexOf("drugstore") > -1) ? 'drugstore' : 'pcs',
            stores: [],
            citys: [],
            districts: [],
            search: {
                city: '台北市',
                district: '信義區',
                option: '產品品項',
                select: 'close'
            },
            // options: ['產品品項','愛-A25','EX PLUS 強效錠','EX GOLD 金強效錠'],
            options: ['產品品項', '愛-A25', 'EX PLUS 強效錠']
        },
        methods: {
            changeKind: function (kind) {
                app.kind = kind;
                location.hash = '#' + kind;
                // if(kind=="pcs"){
                //     sendEvent("購買通路_連鎖通路","購買通路_連鎖通路");
                // }else{
                //     sendEvent("購買通路_藥局店家","購買通路_藥局店家");
                // }
                // var url = {title:'',url:''};
                // history.pushState(url,'','buy/#'+kind);
            },
            changeSelect: function () {

                if (app.search.select == 'close') {
                    app.search.select = 'open';
                } else {
                    app.search.select = 'close';
                }
            },
            setOption: function (item) {
                app.search.option = item;
                if (item == '愛-A25') {
                    sendEvent("購買通路_A25", "購買通路_A25");
                }
                if (item == 'EX PLUS 強效錠') {
                    sendEvent("購買通路_EX PLUS", "購買通路_EX PLUS");
                }
                if (item == 'EX GOLD 金強效錠') {
                    sendEvent("購買通路_EX GOLD", "購買通路_EX GOLD");
                }
            },
            getView: function () {
                getData(app.search)
            },
            getDistricts: function () {
                $.ajax({
                    url: 'https://alinamin.com.tw/storeAjax.php',
                    type: 'POST',
                    dataType: 'JSON',
                    data: app.search,
                    success: function (res) {
                        app.districts = res.district;
                        app.search.district = '';
                        app.getView();
                    }
                })
            },

        },
        mounted: function () {
            getData(this.search)
        }
    })

    function getData($search) {
        $.ajax({
            url: 'https://alinamin.com.tw/storeAjax.php',
            type: 'POST',
            dataType: 'JSON',
            data: $search,
            error: function (res) {

            },
            success: function (res) {
                app.citys = res.city;
                app.districts = res.district;
                app.stores = res.stores;

                setTimeout(function () {
                    $('.swiper-wrapper').css("transform", "translate3d(0,0,0)")
                }, 50)
            }
        })
    }

    jQuery(document).ready(function ($) {
        var storeSwiper = new Swiper('.swiperStore', {
            slidesPerView: 3,
            slidesPerColumn: 2,
            navigation: {
                nextEl: '.nexStore',
                prevEl: '.prevStore',
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 2,
                }
            },
        })

        var pycialSwiper = new Swiper('.swiperPycial', {
            observer: true,
            observeParents: true,
            initialSlide: 0,
            slidesPerView: 2,
            slidesPerColumn: 3,
            navigation: {
                nextEl: '.nexPycial',
                prevEl: '.prevPycial',
            },
        })
        setTimeout(function () {
            $('.swiper-wrapper').css("transform", "translate3d(0,0,0)")
        }, 50)

    });

    jQuery(document).ready(function ($) {

        var temp = location.href.split("#");
        if (temp.length != 1) {
            app.changeKind(temp[1])
        }
        $('.swiperStore a').on('click', function () {
            var linkName = $(this).find('p').html();
            sendEvent("購買通路_連鎖通路_" + linkName, "購買通路_連鎖通路_" + linkName);
        })
    });
</script>